.main-header {
  background: #2f3841; /* tu color actual */
  padding: 40px 20px;

  display: flex;
  justify-content: center;  /* centra horizontal */
  align-items: center;      /* centra vertical (si crece) */
  text-align: center;
}

.header-inner {
  max-width: 900px;
  width: 100%;
}

.logo {
  width: 120px;
  height: auto;
  margin-bottom: 16px;
}

/* Tipografía */
.title {
  font-family: 'Cinzel', serif;
  font-size: 2.8rem;
  margin: 0;
  font-weight: bold;
  letter-spacing: 2px;
  color: #b47467; /* lobster elegante */
}

.title-wh {
  font-family: 'Cinzel', serif;
  font-weight: bold;
  font-size: 2.4rem;
  margin: 0;
  letter-spacing: 2px;
  color: #eee; /* lobster elegante */
}

.subtitle {
  font-family: 'Cinzel', serif;
  font-size: 1.3rem;
  margin-top: 0px;
  color: #e78a77; /* lobster elegante */
  font-weight: normal;
  letter-spacing: -0.5px;
}

.main-nav {
  background: #2f3841; /* mismo fondo que header */
  padding: 10px 20px 25px;
  text-align: center;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  gap: 40px;
}

.nav-list a {
  font-family: 'Cinzel', serif;
  font-size: 0.9rem;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #d85d44; /* lobster elegante */
  text-decoration: none;
  opacity: 0.8;

  transition: all 0.2s ease;
}

.nav-list a:hover {
  opacity: 1;
  text-decoration: none;
}

.nav-list a.active {
  opacity: 1;
  font-weight: 600;
}

.nav-list a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #c4452d;
  margin: 6px auto 0;
  transition: width 0.2s ease;
}

.nav-list a:hover::after {
  width: 100%;
}

@media (max-width: 576px) {
  .nav-list {
    flex-direction: column;
    gap: 12px;
  }
}

.main-header {
  padding-bottom: 0px;
}

.main-nav {
  padding-top: 0px;
}

.lobster-avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center top; /* importante para retratos */
  border: 2px solid #b47467;; /* opcional */
  background-color: rgba(255, 255, 255, 0.75);
}

.container, .bg-body-tertiary {
  background: #2f3841; /* tu color actual */
  padding: 0;
} 

body {
  background-color: #2f3841; /* tu color actual */
}

.list-group
{
  background: #2f3841; /* tu color actual */
}

.list-group-item {

  /* border: 1px solid #c4452d; */
  color:  #cdcdcd;
}

.grande {
  font-size: 1.1rem;
}

.copy-btn {
  color: #fff;
  border: none;
  font-size: 0.9rem;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-weight: normal;
  transition: background-color 0.2s ease;
}

.list-item {
  border-radius: 4px;
  background-color: #2f3841; /* tu color actual */
  margin-bottom: 0;

  font-family: serif;
  font-size: 1.3em;
}

.list-item-group-iteem {
  border: none;
  background-color: transparent;
  color: #cdcdcd;
  padding: 0.4em;
}


.badge {
  color: #fff;
  font-size: 0.8rem;
  border-radius: 4px;
  font-weight: normal;
  alignment-baseline: baseline;
  padding: 0.5em;
  
}


.author-avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #b89b5e; /* tono dorado sobrio */
  box-shadow: 0 0 0 4px #1a1a1a; /* doble borde */
}

.author-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 20%;
  filter: contrast(1.05) saturate(0.9);
}