
<header class="main-header">
  <div class="header-inner">
    
        <img src="{{ url_for('static', path='/lobster128.png') }}"  height="128" width="128" alt="Merriam Lobster logo" class="logo lobster-avatar">

    <h1 class="title">MERRIAM LOBSTER's</h1>

    <p class="subtitle">Quotable Quotes</p>

  </div>
</header>

<nav>
    <div class="nav-list" style="text-align: center;">

  <a href="/">Inicio</a> 
  <a href="/authors">Autores</a> 
  <a href="/categories">Categorías</a> 
  <a href="/themes">Temas</a>
</div>
</nav>