<div class="container py-3 py-md-4">

  <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between gap-3 mb-4">

    <div class="d-flex align-items-center justify-content-between gap-2 mb-1">
        
        <div class="container">
          <h1>
            <span class="site-brand">Merriam</span>
            <img src="/static/lobster.png" width="128" height="128" alt="Merriam Lobster logo"> 
            <span class="site-brand">Lobster</span>
          </h1>
          
          <span class="text-body-secondary small">Diccionario navegable de ideasz</span>
        </div>


<!--         
        <div class="text-body-secondary small">Diccionario navegable de ideas</div>
        <ul class="nav flex-column flex-md-row gap-2 mb-4">
          <li class="nav-item">
            <a class="nav-link" href="/">/</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/authors">Autores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/themes">Temas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/categories">Categorías</a>
          </li>
        </ul> -->



    </div>

  </div>
</div>